*{
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #dddddd;
}

.login-body-image{
    height: 200px;
    width: 180px;
    margin-bottom: 10px;
    margin-top: 50px;
}

h1{
    color: #39b54a;
    font-size: 50pt;
}

.login-body-inputs input{
    width: 340px;
    height: 50px;
    background-color: #eeeeee;
    border: 3px solid #70ef70;
    border-radius: 25px;
    margin-bottom: 5px;
    color: black;
}

.login-body-button input{
    border:  3px solid black;
    background-color: #5eef5e;
    color: black;
    margin-top: 16px;
    height: 50px;
    width: 195px;
    border-radius: 50px;
    font-size: 25px;    
}

.login-body-button input:hover{
    background-color: #aeebae;
}

.login-body-button input:active{
    background-color: #39b54a;
}

