*{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.user-profile-img{
    height: 169px;
    width: 169px;
    border-radius: 100%;
    background-color: #80a7d6;
    border: 4px solid black;
}

.user-profile-img img{
    height: 130px;
    width: 130px;
    margin-top: 5px;
}

.user-profile h2,h3{
    color: black;
}

.user-schedule{
    background-color: #cccccc;
    height: 120px;
}